.image-holder {
      position: relative;
      width: 100%;
  }
.caption {
      position: absolute;
      top: 41%;
      width: 100%;
      text-align: center;
      user-select: none;
  }
img {
    width: 100%;
  }
  
#contact-form {
    background-color: darkgray;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    flex-wrap: wrap;
    border: 2px solid black
}
textarea {
    padding-left: 5px;
    resize: none;
    width: 100%;
    margin-bottom: 5px;
}
#contact-form input {
    padding-left: 5px;
    flex-grow: 1;
    margin-bottom: 5px;
}
#contact-form input:last-child {
    margin-bottom: 0;
}
#contact-form label {
    position: relative;
    margin: 0;
    bottom: 3px;
    left: 15%;
}
#contact-form span {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}